<template>
    <panel-item :field="field" >
        <div slot="value">
            <img style="height: 32px;" :src="field.value"/>
        </div>
    </panel-item>
</template>

<script>
export default {
    props: ['resource', 'resourceName', 'resourceId', 'field'],
}
</script>
