<template>
    <default-field :field="field">
        <template slot="field">
            <div>
                <img style="width: 100px; height: 100px" :src="value"/>
                <p v-if="hasError" class="my-2 text-danger">
                    {{ firstError }}
                </p>
            </div>
            <div>
                <croppa v-model="image"></croppa>
            </div>
        </template>
    </default-field>
</template>

<script>
    import {FormField, HandlesValidationErrors} from 'laravel-nova'

    export default {
        mixins: [FormField, HandlesValidationErrors],

        props: ['resourceName', 'resourceId', 'field'],

        methods: {
            /*
             * Set the initial, internal value for the field.
             */
            setInitialValue() {
                this.value = this.field.value || ''
            },

            /**
             * Fill the given FormData object with the field's internal value.
             */
            fill(formData) {
                formData.append(this.field.attribute, this.image.generateDataUrl() || '')
            },

            /**
             * Update the field's internal value.
             */
            handleChange(value) {
                this.value = value
            }
        }
    }
</script>
